body {
    font-family: 'Montserrat-Regular';
}

canvas {
    display: block;
    background-color: orangered;
    border: black solid 1px;
}

.canvas-container {
    width: 60vw;
    height: 60vh;
}

.edit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-top: 50px;
}

.input-container {
    max-width: 300px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.meme-text {
    width: 280px;
    border-radius: 7px;
    height: 40px;
}

.edit2-cont {
    align-items: center;
    /* position: relative;
    top: -100px;
    left: -300px; */
}

.edit-cont-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.img-icon {
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -2px 3px 8px 0px lightgrey;
}

.save-share-container a {
    margin-top: 20px;
    height: 30px;
    width: 120px;
    background-color: #ff7f00cc;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.save-share-container {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
}

.mark-line {
    border: orange solid 7px;
    box-shadow: -4px -1px 20px orange;
}

.color-input {
    width: 200px;
    height: 60px;
    border: none;
}

.color-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.select-font {
    border: black solid 2.5px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 0px;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
}

@media (max-width:1000px) {
    body {
        width: 100vw;
    }
    .header-container {
        max-width: 90vw;
        margin: 0;
    }
    .main-header {
        margin: 0;
        width: 100vw;
        font-size: medium;
        height: 100px;
    }
    .header-logo {
        height: 100px;
        width: 150px;
    }
    .edit-page {
        margin: auto;
    }
    .edit-container {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    canvas {
        height: 70vw;
    }
    .meme-text {
        height: 30px;
    }
    .edit-cont-btn {
        margin: 0;
    }
    .img-icon {
        height: 25px;
        width: 25px;
    }
    .select-font {
        padding: 5px;
    }
    .color-input-container {
        margin-top: 0;
    }
    .color-input {
        height: 30px;
        width: 100px;
    }
    .save-share-container {
        padding: 0;
        padding-left: 15px;
    }
    .save-share-container a {
        margin: 0;
        width: 80px;
        height: 20px;
        padding:2 10px;

    }
}