


.saved-memes {
    cursor: not-allowed;
}

.keywords-filter-container {
    min-height: 6.25rem;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.keywords-container {
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    flex-wrap: wrap;
}

.keywords {
    max-width: 600px;
    flex-wrap: wrap;
    padding: 20px;
}

.keywords li {
    border-right: rgba(204, 202, 202, 0.678) solid 1px;
    padding: 0 0.625rem;
    max-height: 25px;
}

.keywords-filter-container a {
    color: rgb(99, 94, 94);
    padding-left: 0.435rem;
    cursor: pointer;
}

.keyword-search {
    height: 2.333rem;
    width: 15.5rem;
}

.keyword {
    cursor: pointer;
    text-transform: capitalize;
}

.gallery-container {
    background-color: rgb(235, 235, 235);
    padding: 1.25rem;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}

.gallery-img {
    margin: 0;
    height: 18.75rem;
    width: 18.75rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: 1px 2px 6px;
}

footer {
    background-color: #ff7f00;
    color: white;
    font-size: small;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 4rem;
}

.footer-logo {
    padding: 0.3125rem;
    margin-top: 0.625rem;
    height: 1.5rem;
}

.hamburger-sign {
    height: 2.5rem;
    display: none;
    padding-right: 1.25rem;
    ;
}

.x-sign {
    height: 1.25rem;
    padding: 0.625rem;
    cursor: pointer;
    display: none;
}

@media (max-width:800px) {
    body {
        width: 100vw;
    }
    .header-container {
        max-width: 90vw;
        margin: 0;
    }
    .main-header {
        margin: 0;
        width: 100vw;
        font-size: medium;
        height: 6.25rem;
    }
    .gallery-img {
        height: 12.5rem;
        width: 12.55rem;
    }
    .keywords-filter-container {
        position: fixed;
        top: 0;
        right: -18.75rem;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1.25rem;
        gap: 1.25rem;
        background-color: rgba(255, 255, 255, .9);
        width: 12.5rem;
        border-inline-start: 1px solid #e0e0e0;
        transition: all .6s;
    }
    .keywords {
        flex-direction: column;
        flex-wrap: wrap;
        /* height: 100%; */
        padding: 0;
        gap: 10px;
    }
    .keyword-search {
        height: 2.333rem;
        width: 12.5rem;
    }
    .hamburger-sign, .x-sign {
        display: block;
    }
    .header-logo {
        height: 6.25rem;
        width: 9.375rem;
    }
}