canvas {
    display: block;
    background-color: white;
    margin-left: 50px;
}

a {
    cursor: pointer;
}

.edit-container {
    display: flex;
    align-items: center;
}

.meme-text {
    position: relative;
    top: -200px;
    height: 30px;
    left: 50px;
    width: 300px;
    border: none;
    border-radius: 7px;
}

.edit2-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: -100px;
    left: -300px;
}

button, input {
    cursor: pointer;
    margin: 5px;
    height: 40px;
    width: 40px;
    font-size: 15px;
}
.img-icon {
    background-color: white;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}